.mobile-bottom-tabbar {
  display: flex;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  
  background-color: #fff;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.15);


  .nav-item {
    flex: 1;

    .nav-link {
      padding: 10px 18px;
      line-height: normal;
      border-radius: 0;

      display: flex;
      flex-direction: column;
      text-align: center;

      i {
        font-size: 18px;
      }

      span {
        font-size: 11px;
        font-weight: 500;
      }

      &.active {
        border-top: 3px solid var(--main-color-one);
        padding-bottom: 8px;
      }
    }
  }
}