body.rtl {
  text-align: right;
  direction: rtl;
}

.rtl {
  --heading-font: 'Frutiger', sans-serif;
  --body-font   : 'Frutiger', sans-serif;

  .rc-slider-mark,
  .rc-slider-track {
    right: 0
  }

  .rc-slider-dot {
    margin-right: -4px
  }

  .rc-slider-dot-reverse {
    margin-left: -4px
  }

  .rc-slider-vertical .rc-slider-track {
    right: 5px
  }

  .rc-slider-vertical .rc-slider-handle {
    margin-right: -5px
  }

  .rc-slider-vertical .rc-slider-mark {
    right: 18px
  }

  .rc-slider-vertical .rc-slider-dot {
    right: 2px
  }

  .rc-slider-tooltip {
    right: -9999px
  }

  .rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
    right       : 50%;
    margin-right: -4px
  }

  .BrainhubCarousel--isRTL+.BrainhubCarousel__dots,
  .BrainhubCarousel.BrainhubCarousel--isRTL,
  .BrainhubCarousel.BrainhubCarousel--isRTL .BrainhubCarousel__trackContainer .BrainhubCarousel__track,
  .BrainhubCarousel__dots.BrainhubCarousel__dots--isRTL {
    direction: ltr
  }

  .BrainhubCarousel__loader {
    border-right-color: transparent
  }

  .BrainhubCarousel__arrows:hover span,
  .BrainhubCarousel__arrows span {
    right       : 50%;
    border-width: 3px 0 0 3px
  }

  .BrainhubCarousel__arrowLeft span {
    transform   : translate(50%, -50%) rotate(135deg);
    margin-right: 2.45px
  }

  .BrainhubCarousel--isRTL .BrainhubCarousel__arrowLeft span,
  .BrainhubCarousel__arrowRight span {
    transform   : translate(50%, -50%) rotate(-45deg);
    margin-right: -2.45px
  }

  .BrainhubCarousel--isRTL .BrainhubCarousel__custom-arrowLeft span {
    transform: rotate(-180deg)
  }

  .BrainhubCarousel--isRTL .BrainhubCarousel__arrowRight span {
    transform   : translate(50%, -50%) rotate(135deg);
    margin-right: 2.45px
  }

  .BrainhubCarousel--isRTL .BrainhubCarousel__custom-arrowRight span {
    transform: rotate(180deg)
  }

  dd {
    margin-right: 0
  }

  caption {
    text-align: right
  }

  .list-inline,
  .list-unstyled {
    padding-right: 0
  }

  .list-inline-item:not(:last-child) {
    margin-left: .5rem
  }

  .offset-1 {
    margin-right: 8.3333333333%
  }

  .offset-2 {
    margin-right: 16.6666666667%
  }

  .offset-3 {
    margin-right: 25%
  }

  .offset-4 {
    margin-right: 33.3333333333%
  }

  .offset-5 {
    margin-right: 41.6666666667%
  }

  .offset-6 {
    margin-right: 50%
  }

  .offset-7 {
    margin-right: 58.3333333333%
  }

  .offset-8 {
    margin-right: 66.6666666667%
  }

  .offset-9 {
    margin-right: 75%
  }

  .offset-10 {
    margin-right: 83.3333333333%
  }

  .offset-11 {
    margin-right: 91.6666666667%
  }

  .form-check {
    padding-right: 1.25rem
  }

  .form-check-input {
    margin-right: -1.25rem
  }

  .form-check-inline {
    padding-right: 0;
    margin-left  : .75rem
  }

  .form-check-inline .form-check-input {
    margin-left : .3125rem;
    margin-right: 0
  }

  .form-control.is-valid,
  .was-validated .form-control:valid {
    padding-left       : calc(1.5em + .75rem);
    background-position: left calc(.375em + .1875rem) center
  }

  .was-validated textarea.form-control:valid,
  textarea.form-control.is-valid {
    padding-left       : calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) left calc(.375em + .1875rem)
  }

  .custom-select.is-valid,
  .was-validated .custom-select:valid {
    padding-left: calc(.75em + 2.3125rem);
    background  : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left .75rem center/8px 10px, url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") #fff no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem)
  }

  .form-control.is-invalid,
  .was-validated .form-control:invalid {
    padding-left       : calc(1.5em + .75rem);
    background-position: left calc(.375em + .1875rem) center
  }

  .was-validated textarea.form-control:invalid,
  textarea.form-control.is-invalid {
    padding-left       : calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) left calc(.375em + .1875rem)
  }

  .custom-select.is-invalid,
  .was-validated .custom-select:invalid {
    padding-left: calc(.75em + 2.3125rem);
    background  : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left .75rem center/8px 10px, url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3E%3C/svg%3E") #fff no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem)
  }

  .dropdown-toggle:after {
    margin-right: .255em
  }

  .dropdown-toggle:empty:after {
    margin-right: 0
  }

  .dropdown-menu {
    right     : 0;
    float     : right;
    text-align: right
  }

  .dropdown-menu-left {
    left : auto;
    right: 0
  }

  .dropdown-menu-right {
    left : 0;
    right: auto
  }

  .dropup .dropdown-toggle:after {
    margin-right: .255em
  }

  .dropup .dropdown-toggle:empty:after {
    margin-right: 0
  }

  .dropright .dropdown-menu {
    left        : auto;
    right       : 100%;
    margin-right: .125rem
  }

  .dropright .dropdown-toggle:after {
    margin-right: .255em;
    border-left : 0;
    border-right: .3em solid
  }

  .dropright .dropdown-toggle:empty:after {
    margin-right: 0
  }

  .dropleft .dropdown-menu {
    left       : 100%;
    right      : auto;
    margin-left: .125rem
  }

  .dropleft .dropdown-toggle:after {
    margin-right: .255em
  }

  .dropleft .dropdown-toggle:before {
    margin-left: .255em;
    border-left: .3em solid
  }

  .dropleft .dropdown-toggle:empty:after {
    margin-right: 0
  }

  .dropdown-menu[x-placement^=bottom],
  .dropdown-menu[x-placement^=left],
  .dropdown-menu[x-placement^=right],
  .dropdown-menu[x-placement^=top] {
    left: auto
  }

  .btn-group>.btn-group:not(:first-child),
  .btn-group>.btn:not(:first-child) {
    margin-right: -1px
  }

  .btn-group>.btn-group:not(:last-child)>.btn,
  .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0
  }

  .btn-group>.btn-group:not(:first-child)>.btn,
  .btn-group>.btn:not(:first-child) {
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0
  }

  .dropdown-toggle-split:after,
  .dropright .dropdown-toggle-split:after,
  .dropup .dropdown-toggle-split:after {
    margin-right: 0
  }

  .dropleft .dropdown-toggle-split:before {
    margin-left: 0
  }

  .input-group>.custom-file+.custom-file,
  .input-group>.custom-file+.custom-select,
  .input-group>.custom-file+.form-control,
  .input-group>.custom-select+.custom-file,
  .input-group>.custom-select+.custom-select,
  .input-group>.custom-select+.form-control,
  .input-group>.form-control+.custom-file,
  .input-group>.form-control+.custom-select,
  .input-group>.form-control+.form-control,
  .input-group>.form-control-plaintext+.custom-file,
  .input-group>.form-control-plaintext+.custom-select,
  .input-group>.form-control-plaintext+.form-control {
    margin-right: -1px
  }

  .input-group>.custom-select:not(:last-child),
  .input-group>.form-control:not(:last-child) {
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0
  }

  .input-group>.custom-select:not(:first-child),
  .input-group>.form-control:not(:first-child) {
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0
  }

  .input-group>.custom-file:not(:last-child) .custom-file-label,
  .input-group>.custom-file:not(:last-child) .custom-file-label:after {
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0
  }

  .input-group>.custom-file:not(:first-child) .custom-file-label {
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0
  }

  .input-group-append .btn+.btn,
  .input-group-append .btn+.input-group-text,
  .input-group-append .input-group-text+.btn,
  .input-group-append .input-group-text+.input-group-text,
  .input-group-prepend .btn+.btn,
  .input-group-prepend .btn+.input-group-text,
  .input-group-prepend .input-group-text+.btn,
  .input-group-prepend .input-group-text+.input-group-text {
    margin-right: -1px
  }

  .input-group-prepend {
    margin-left: -1px
  }

  .input-group-append {
    margin-right: -1px
  }

  .input-group-lg>.custom-select,
  .input-group-sm>.custom-select {
    padding-left: 1.75rem
  }

  .input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),
  .input-group>.input-group-append:last-child>.input-group-text:not(:last-child),
  .input-group>.input-group-append:not(:last-child)>.btn,
  .input-group>.input-group-append:not(:last-child)>.input-group-text,
  .input-group>.input-group-prepend>.btn,
  .input-group>.input-group-prepend>.input-group-text {
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0
  }

  .input-group>.input-group-append>.btn,
  .input-group>.input-group-append>.input-group-text,
  .input-group>.input-group-prepend:first-child>.btn:not(:first-child),
  .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
  .input-group>.input-group-prepend:not(:first-child)>.btn,
  .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0
  }

  .custom-control {
    padding-right: 1.5rem
  }

  .custom-control-inline {
    margin-left: 1rem
  }

  .custom-control-input {
    right: 0
  }

  .custom-control-label:after,
  .custom-control-label:before {
    right: -1.5rem
  }

  .custom-switch {
    padding-right: 2.25rem
  }

  .custom-switch .custom-control-label:before {
    right: -2.25rem
  }

  .custom-switch .custom-control-label:after {
    right: calc(-2.25rem + 2px)
  }

  .custom-switch .custom-control-input:checked~.custom-control-label:after {
    transform: translateX(-.75rem)
  }

  .custom-select {
    padding   : .375rem .75rem .375rem 1.75rem;
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left .75rem center/8px 10px
  }

  .custom-select[multiple],
  .custom-select[size]:not([size="1"]) {
    padding-left: .75rem
  }

  .custom-select-sm {
    padding-right: .5rem
  }

  .custom-select-lg {
    padding-right: 1rem
  }

  .custom-file-label:after {
    left         : 0;
    border-right : inherit;
    border-radius: .25rem 0 0 .25rem
  }

  .custom-range::-ms-fill-upper {
    margin-left: 15px
  }

  .nav {
    padding-right: 0
  }

  .navbar-brand {
    margin-left: 1rem
  }

  .navbar-nav {
    padding-right: 0;
    margin-left  : -30px
  }

  .card-link+.card-link {
    margin-right: 1.25rem
  }

  .breadcrumb-item+.breadcrumb-item {
    padding-right: .5rem
  }

  .breadcrumb-item+.breadcrumb-item:before {
    padding-left: .5rem
  }

  .pagination {
    padding-right: 0
  }

  .page-link {
    margin-right: -1px
  }

  .page-item:first-child .page-link {
    margin-right              : 0;
    border-top-right-radius   : .25rem;
    border-bottom-right-radius: .25rem
  }

  .page-item:last-child .page-link {
    border-top-left-radius   : .25rem;
    border-bottom-left-radius: .25rem
  }

  .pagination-lg .page-item:first-child .page-link {
    border-top-right-radius   : .3rem;
    border-bottom-right-radius: .3rem
  }

  .pagination-lg .page-item:last-child .page-link {
    border-top-left-radius   : .3rem;
    border-bottom-left-radius: .3rem
  }

  .pagination-sm .page-item:first-child .page-link {
    border-top-right-radius   : .2rem;
    border-bottom-right-radius: .2rem
  }

  .pagination-sm .page-item:last-child .page-link {
    border-top-left-radius   : .2rem;
    border-bottom-left-radius: .2rem
  }

  .alert-dismissible {
    padding-left: 4rem
  }

  .alert-dismissible .close {
    left: 0
  }

  .progress-bar-striped {
    background-image: linear-gradient(-45deg, hsla(0, 0%, 100%, .15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .15) 0, hsla(0, 0%, 100%, .15) 75%, transparent 0, transparent)
  }

  .list-group {
    padding-right: 0
  }

  .list-group-horizontal>.list-group-item:first-child {
    border-bottom-right-radius: .25rem;
    border-top-left-radius    : 0
  }

  .list-group-horizontal>.list-group-item:last-child {
    border-top-left-radius    : .25rem;
    border-bottom-right-radius: 0
  }

  .list-group-horizontal>.list-group-item+.list-group-item {
    border-right-width: 0
  }

  .list-group-horizontal>.list-group-item+.list-group-item.active {
    margin-right      : -1px;
    border-right-width: 1px
  }

  .close {
    float: left
  }

  .modal,
  .modal-backdrop {
    right: 0
  }

  .modal-header .close {
    margin: -1rem auto -1rem -1rem
  }

  .bs-tooltip-auto[x-placement^=right] .arrow,
  .bs-tooltip-right .arrow {
    right: 0
  }

  .bs-tooltip-auto[x-placement^=right] .arrow:before,
  .bs-tooltip-right .arrow:before {
    left             : 0;
    border-width     : .4rem 0 .4rem .4rem;
    border-left-color: #000
  }

  .bs-tooltip-auto[x-placement^=left] .arrow,
  .bs-tooltip-left .arrow {
    left: 0
  }

  .bs-tooltip-auto[x-placement^=left] .arrow:before,
  .bs-tooltip-left .arrow:before {
    right             : 0;
    border-width      : .4rem .4rem .4rem 0;
    border-right-color: #000
  }

  .popover {
    right: 0
  }

  .bs-popover-auto[x-placement^=right],
  .bs-popover-right {
    margin-right: .5rem
  }

  .bs-popover-auto[x-placement^=right]>.arrow,
  .bs-popover-right>.arrow {
    right: calc(-.5rem - 1px)
  }

  .bs-popover-auto[x-placement^=right]>.arrow:before,
  .bs-popover-right>.arrow:before {
    right            : 0;
    border-width     : .5rem 0 .5rem .5rem;
    border-left-color: rgba(0, 0, 0, .25)
  }

  .bs-popover-auto[x-placement^=right]>.arrow:after,
  .bs-popover-right>.arrow:after {
    right            : 1px;
    border-width     : .5rem 0 .5rem .5rem;
    border-left-color: #fff
  }

  .bs-popover-auto[x-placement^=bottom] .popover-header:before,
  .bs-popover-bottom .popover-header:before {
    right       : 50%;
    margin-right: -.5rem
  }

  .bs-popover-auto[x-placement^=left],
  .bs-popover-left {
    margin-left: .5rem
  }

  .bs-popover-auto[x-placement^=left]>.arrow,
  .bs-popover-left>.arrow {
    left: calc(-.5rem - 1px)
  }

  .bs-popover-auto[x-placement^=left]>.arrow:before,
  .bs-popover-left>.arrow:before {
    left              : 0;
    border-width      : .5rem .5rem .5rem 0;
    border-right-color: rgba(0, 0, 0, .25)
  }

  .bs-popover-auto[x-placement^=left]>.arrow:after,
  .bs-popover-left>.arrow:after {
    left              : 1px;
    border-width      : .5rem .5rem .5rem 0;
    border-right-color: #fff
  }

  .carousel-item {
    float      : right;
    margin-left: -100%
  }

  .active.carousel-item-right,
  .carousel-item-next:not(.carousel-item-left) {
    transform: translateX(-100%)
  }

  .active.carousel-item-left,
  .carousel-item-prev:not(.carousel-item-right) {
    transform: translateX(100%)
  }

  .carousel-control-prev {
    right: 0
  }

  .carousel-control-next {
    left: 0
  }

  .carousel-indicators {
    padding-right: 0
  }

  .spinner-border {
    border-left-color: transparent
  }

  .border-right {
    border-left: 1px solid #dee2e6
  }

  .border-left {
    border-right: 1px solid #dee2e6
  }

  .border-right-0 {
    border-left: 0
  }

  .border-left-0 {
    border-right: 0
  }

  .rounded-right {
    border-top-left-radius   : .25rem;
    border-bottom-left-radius: .25rem
  }

  .rounded-left {
    border-top-right-radius   : .25rem;
    border-bottom-right-radius: .25rem
  }

  .embed-responsive .embed-responsive-item,
  .embed-responsive embed,
  .embed-responsive iframe,
  .embed-responsive object,
  .embed-responsive video {
    right: 0
  }

  .float-left {
    float: right
  }

  .float-right {
    float: left
  }

  .mr-0,
  .mx-0 {
    margin-left: 0
  }

  .ml-0,
  .mx-0 {
    margin-right: 0
  }

  .mr-1,
  .mx-1 {
    margin-left: .25rem
  }

  .ml-1,
  .mx-1 {
    margin-right: .25rem
  }

  .mr-2,
  .mx-2 {
    margin-left: .5rem
  }

  .ml-2,
  .mx-2 {
    margin-right: .5rem
  }

  .mr-3,
  .mx-3 {
    margin-left: 1rem
  }

  .ml-3,
  .mx-3 {
    margin-right: 1rem
  }

  .mr-4,
  .mx-4 {
    margin-left: 1.5rem
  }

  .ml-4,
  .mx-4 {
    margin-right: 1.5rem
  }

  .mr-5,
  .mx-5 {
    margin-left: 3rem
  }

  .ml-5,
  .mx-5 {
    margin-right: 3rem
  }

  .pr-0,
  .px-0 {
    padding-left: 0
  }

  .pl-0,
  .px-0 {
    padding-right: 0
  }

  .pr-1,
  .px-1 {
    padding-left: .25rem
  }

  .pl-1,
  .px-1 {
    padding-right: .25rem
  }

  .pr-2,
  .px-2 {
    padding-left: .5rem
  }

  .pl-2,
  .px-2 {
    padding-right: .5rem
  }

  .pr-3,
  .px-3 {
    padding-left: 1rem
  }

  .pl-3,
  .px-3 {
    padding-right: 1rem
  }

  .pr-4,
  .px-4 {
    padding-left: 1.5rem
  }

  .pl-4,
  .px-4 {
    padding-right: 1.5rem
  }

  .pr-5,
  .px-5 {
    padding-left: 3rem
  }

  .pl-5,
  .px-5 {
    padding-right: 3rem
  }

  .mr-n1,
  .mx-n1 {
    margin-left: -.25rem
  }

  .ml-n1,
  .mx-n1 {
    margin-right: -.25rem
  }

  .mr-n2,
  .mx-n2 {
    margin-left: -.5rem
  }

  .ml-n2,
  .mx-n2 {
    margin-right: -.5rem
  }

  .mr-n3,
  .mx-n3 {
    margin-left: -1rem
  }

  .ml-n3,
  .mx-n3 {
    margin-right: -1rem
  }

  .mr-n4,
  .mx-n4 {
    margin-left: -1.5rem
  }

  .ml-n4,
  .mx-n4 {
    margin-right: -1.5rem
  }

  .mr-n5,
  .mx-n5 {
    margin-left: -3rem
  }

  .ml-n5,
  .mx-n5 {
    margin-right: -3rem
  }

  .mr-auto,
  .mx-auto {
    margin-left: auto
  }

  .ml-auto,
  .mx-auto {
    margin-right: auto
  }

  .text-left {
    text-align: right
  }

  .text-right {
    text-align: left
  }

  ol {
    padding-right: 0
  }

  ol li:before {
    margin-left: 10px
  }

  .check-list li {
    padding-right: 20px
  }

  .check-list li:after {
    right: 0
  }

  .comment-navigation .nav-previous,
  .post-navigation .nav-previous,
  .posts-navigation .nav-previous {
    float: right
  }

  .comment-navigation .nav-next,
  .post-navigation .nav-next,
  .posts-navigation .nav-next {
    float     : left;
    text-align: left
  }

  .screen-reader-text:focus {
    right: 5px
  }

  .alignleft {
    float      : right;
    margin-left: 20px
  }

  .alignright {
    float       : left;
    margin-right: 20px
  }

  .wp-link-pages span:first-child {
    margin-left: 5px
  }

  dl,
  ol,
  ul {
    padding-right: 15px
  }

  .btn:before {
    right: 0
  }

  .btn .right {
    padding-right: 12px
  }

  .btn .left {
    padding-left: 15px
  }

  .readmore-btn {
    margin-right: -15px
  }

  .readmore-btn i {
    left: -32px
  }

  .readmore-btn:hover i {
    left: -36px
  }

  .owl-controls .owl-next {
    padding-right: 5px
  }

  .slider-control-top .owl-prev {
    left: 70px
  }

  .slider-control-top .owl-next {
    left: 0
  }

  .section-title h1 img,
  .section-title h2 img,
  .section-title h3 img,
  .section-title h4 img,
  .section-title h5 img {
    margin-left: 15px
  }

  .section-title .btn-view-all {
    left: 0
  }

  .section-title .btn-view-all-2 {
    padding-left: 30px
  }

  .section-title .btn-view-all-2 i {
    left: -3px
  }

  .section-title .btn-view-all-2:hover i {
    left: -7px
  }

  .section-title.pd-left {
    padding-right: 100px
  }

  .back-to-top {
    left: 30px
  }

  .pre-wrap {
    transform: translate(100%, -240%)
  }

  .preloader-inner {
    right: 0
  }

  .preloader-inner .cancel-preloader {
    left: 30px
  }

  .social-icon {
    padding-right: 0
  }

  .call-to-action .cta-content .title {
    float: right
  }

  .call-to-action .cta-content .btn {
    float: left
  }

  .rld-list-style li img {
    margin-left: 6px
  }

  .rld-list-style li i {
    margin-left  : 6px;
    padding-right: 2px
  }

  .ap2-list-progress {
    background-image: linear-gradient(270deg, var(--heading-color), var(--heading-color))
  }

  .breadcrumb-area .page-list li {
    padding-right: 8px
  }

  .breadcrumb-area .page-list li:after {
    right: 0
  }

  .breadcrumb-area .page-list li:first-child {
    padding-right: 0
  }

  .shape-image-list.left-top {
    padding: 35px 35px 0 0
  }

  .shape-image-list.left-top:after {
    right: 0
  }

  .shape-image-list.right-top {
    padding: 35px 0 0 35px
  }

  .shape-image-list.right-top:after {
    left: 0
  }

  .shape-image-list.left-bottom {
    padding: 0 35px 35px 0
  }

  .shape-image-list.left-bottom:after {
    right: 0
  }

  .shape-image-list.right-bottom {
    padding: 0 0 35px 35px
  }

  .shape-image-list.right-bottom:after {
    left: 0
  }

  .rld-1-3-bg {
    background-position: 0
  }

  .widget-sidebar-search,
  .widget-sidebar-search .widget-sidebar-item-wrap {
    float: right
  }

  .widget-sidebar-search .rld-single-input.left-icon:before {
    right: 17px
  }

  .widget-owner-info .contact-info .media .media-left {
    margin-left: 10px
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav {
    text-align: left
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav li+li {
    margin-right: 20px
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
    left: -3px
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
    text-align: right;
    right     : 0
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li {
    margin-right: 0
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children {
    padding-left: 0
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children:before {
    left: 15px
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children>.sub-menu {
    right: 100%
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children>.sub-menu .sub-menu .sub-menu {
    right: auto;
    left : 100%
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav>li {
    margin-left : 10px
  }

  .menu-open {
    margin-left: 0
  }

  .bar1,
  .bar2,
  .bar3 {
    left: -5px
  }

  .toggle-btn {
    right: auto;
    left : 0
  }

  .toggle-btn .icon-left {
    right: 7px
  }

  .toggle-btn .icon-left:after,
  .toggle-btn .icon-left:before {
    right: 0
  }

  .toggle-btn .icon-right {
    right: 18px
  }

  .toggle-btn .icon-right:after,
  .toggle-btn .icon-right:before {
    right: 0
  }

  .toggle-btn.open .icon-left:before {
    transform: rotate(-45deg) scaleX(1.4) translate(-2px, 1px)
  }

  .toggle-btn.open .icon-left:after {
    transform: rotate(45deg) scaleX(1.4) translate(-2px, -1px)
  }

  .toggle-btn.open .icon-right:before {
    transform: rotate(45deg) scaleX(1.4) translate(2px, 1px)
  }

  .toggle-btn.open .icon-right:after {
    transform: rotate(-45deg) scaleX(1.4) translate(2px, -1px)
  }

  .rld-banner-tab .nav-item a {
    margin-left: 8px
  }

  .footer-area .footer-social span {
    margin-left: 20px
  }

  .subscribe-area .rld-single-input {
    padding-left: 190px
  }

  .subscribe-area button {
    left: 0
  }

  .follow-dream-area .thumb {
    margin-left: 30px
  }

  .search-page-search-wrap {
    float       : right;
    padding-left: 30px
  }

  .search-page-right-wrap {
    float: left
  }

  .rld-search-page-tab .nav-item a {
    margin-left: 8px
  }

  .search-page-right-side {
    margin-left: 50px
  }

  .gm-ui-hover-effect {
    left         : 0;
    border-radius: 10px 0 10px 0
  }

  .post-and-search {
    padding: 25px 170px 40px 50px
  }

  .news-search-btn {
    right: 52px
  }

  .news-search-box {
    right: -10px
  }

  .news-search-box input {
    border-left: 1px solid var(--main-color-one);
    margin-left: 70px
  }

  .news-search-box button {
    left      : 28px;
    background: 100%
  }

  .news-search-box.news-search-box-show {
    right: 0
  }

  .popular-post-slider:before {
    right: -50px
  }

  .single-popular-post .media-left {
    margin-left: 15px
  }

  .service-area-about {
    background-position: 0
  }

  .news-details-author-social .author p {
    margin-right: 15px
  }

  .single-contact-info p i {
    margin-left: 10px
  }

  .property-details-slider .owl-prev {
    left: 90px
  }

  .property-details-slider .owl-next {
    left: 25px
  }

  .property-details-slider-info h3 span {
    margin-left: 20px
  }

  .single-property-info p i {
    margin-left: 10px
  }

  .single-property-info p img {
    margin-left: 11px
  }

  .error-page a {
    right: 12px
  }

  .add-new-property-area .rld-single-select .single-select {
    padding: 0 10px 0 35px
  }

  .rld-main-search {
    border-radius: 6px 0 6px 6px
  }

  .rld-single-input.left-icon:before {
    right: 19px
  }

  .rld-single-input.left-icon input {
    padding-right: 40px
  }

  .rld-single-select .single-select {
    padding: 0 20px 0 34px
  }

  .rld-single-select .single-select:before {
    left : 14px;
    right: auto
  }

  .rld-banner-search .rld-single-input input {
    padding-left: 140px
  }

  .rld-banner-search .rld-single-input button {
    left         : 0;
    border-radius: 4px 0 0 4px
  }

  .single-service .thumb.double-img:before {
    right: -10px;
    left : 0
  }

  .single-service .thumb.double-img img {
    padding-right: 30px
  }

  .service-slider .slick-prev {
    right: -100px
  }

  .service-slider .slick-next {
    left         : -100px;
    padding-right: 5px
  }

  .service-slider.slick-slider .slick-active .single-service {
    margin: 10px 7px 10px 15px
  }

  .service-slider.slick-slider .slick-active~.slick-active~.slick-active~.slick-active .single-service {
    margin: 10px 15px 10px 7px
  }

  .single-explore .thumb a {
    left      : 20px;
    box-shadow: -20px 0 40px rgba(0, 0, 0, .3)
  }

  .single-explore .details h4 {
    padding-right: 1px
  }

  .single-explore .details .list li i,
  .single-explore .details .list li img {
    margin-left: 4px
  }

  .single-explore .details .list li:first-child {
    margin-left: 20px
  }

  .single-feature .thumb a {
    right: 0
  }

  .single-feature .category {
    right    : -35px;
    left: auto;
    transform: rotate(45deg)
  }

  .single-feature .details .feature-logo {
    left      : 25px;
    box-shadow: -20px 0 40px rgba(0, 0, 0, .3)
  }

  .single-feature .details .title {
    padding-right: 1px
  }

  .single-feature .details .price {
    margin-left: 10px
  }

  .single-feature .details .info-list li {
    margin-left: 12px
  }

  .single-feature .details .info-list li i,
  .single-feature .details .info-list li img {
    margin-left: 4px
  }

  .single-feature .details .info-list li:last-child {
    margin-left: 0
  }

  .single-feature .details .contact-list li {
    margin-left: 10px
  }

  .single-feature .details .contact-list li:last-child {
    margin-left: 0
  }

  .single-feature:hover .thumb a {
    right: 20px
  }

  .single-leading-feature .details,
  .single-leading-feature .slf-overlay,
  .single-leading-feature .thumb a {
    right: 0
  }

  .single-leading-feature .details .logo {
    left: 25px
  }

  .single-leading-feature .details .title {
    padding-right: 1px
  }

  .single-leading-feature .details .price {
    margin-left: 10px
  }

  .single-leading-feature:hover .thumb a {
    right: 20px
  }

  .single-feature.style-two .thumb,
  .single-feature.style-two .thumb img {
    border-radius: 0 5px 5px 0
  }

  .single-feature.style-two .details {
    padding: 20px 50px 20px 20px
  }

  .single-feature.style-two .details .feature-logo {
    right: -26px
  }

  .single-intro-media .media-body {
    padding-right: 30px
  }

  .single-follow-dream .media-left {
    margin-left: 30px
  }

  .single-floor-list .media-left {
    margin-left: 15px
  }

  .single-city .details,
  .single-city .sc-overlay {
    right: 0
  }

  .single-team .team-details p {
    float: right
  }

  .single-team .team-details ul {
    float: left
  }

  .single-team .team-details ul li {
    padding-right: 5px
  }

  .client-slider-2 .owl-nav .owl-prev {
    right: 0
  }

  .client-slider-2 .owl-nav .owl-next {
    left: 0
  }

  .client-review-img .clr-img1 {
    right: 0
  }

  .client-review-img .clr-img2 {
    right: 200px
  }

  .client-review-img .clr-img3 {
    right: 40px
  }

  .client-review-img .clr-img4 {
    left: 100px
  }

  .client-review-img .clr-img5 {
    left: 0
  }

  .apartments-slider .thumb .title {
    margin-right: -170px
  }

  .apartments-slider .details span i {
    margin-left: 8px
  }

  .apartments-slider .owl-nav .owl-prev {
    right: 0
  }

  .apartments-slider .owl-nav .owl-next {
    left: 0
  }

  .apartments-slider-2 .details h6 {
    right: 32px
  }

  .apartments-slider-2 .align-self-end {
    margin-right: -113px
  }

  .ap2-slider-controls .ap2-list-progress {
    margin-left: 50px
  }

  .property-filter-menu button {
    margin-left: 6px
  }

  .single-news .details .author img {
    margin-left: 15px
  }

  .single-news .details .author .date {
    margin-right: 20px
  }

  .single-accordion .card-header h2 button {
    text-align  : right;
    float       : right;
    padding-left: 20px
  }

  .single-accordion .card-header h2 button:after,
  .single-accordion .card-header h2 button:before {
    left: 0
  }

  .single-accordion .card-header h2 button.collapsed:before {
    transform: rotate(-90deg)
  }

  .comments-area .comment-list li ul.children {
    margin-right: 50px
  }

  .comments-area .comment-list li .single-comment-wrap .thumb {
    margin-left: 25px
  }

  .comments-area .comment-list li .single-comment-wrap .content .like i {
    margin-left: 4px
  }

  .comments-area .comment-list li .single-comment-wrap .content .reply span {
    padding-right: 25px;
    padding-left : 0
  }

  .comment-form-cookies-consent input[type=checkbox] {
    margin-left: 5px
  }

  .single-user-list .details span i {
    margin-left: 8px
  }

  .single-user-list .details .phone {
    margin-left: 20px
  }

  .single-pricing .thumb.double-img:before {
    right: -10px;
    left : 0
  }

  .single-pricing .thumb.double-img img {
    padding-right: 16px
  }
}