.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999999999999999;

  background-color: #fff;
  color: #333;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

  &--left, &--right {
    i {
      padding: 18px;
      font-size: 18px;
    }
  }

  &--left {
    
  }
  &--center {

  }
  &--right {

  }
  &--title {
    margin-bottom: 0;
  }
}
