#ct-container {
  z-index: 999999999999;
}

.is-invalid {
  .react-select__control {
    border-color: var(--danger);
  }
}

.rc-slider-step {
  background-color: var(--info);
  opacity: .2;
}

.auth-swal {
  .swal2-content, & {
    padding: 0;
  }
}

.sub-page {
  content-visibility: auto;
}

// @keyframes bg {
//   0%, 100% {
//     background-position-y: 0%;
//   }
//   50% {
//     background-position-y: 100%;
//   }
// }

// .page-header-container {
//   animation: bg 50s ease-in-out 0s infinite;
// }
