.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark);

  &--loader {
    &:not(:last-child) {
      margin-right: 5px;
    }

    &:nth-child(even) {
      animation-delay: 100ms;
    }

    &:last-child {
      animation-delay: 200ms;
    }
  }
}