.filters-bar.horizontal {
  .tab-pane {
    border: 0;
  }

  .nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &:not(.active) {
    .nav-item:not(.active) {
      background-color: rgba(white, 0.3);
    }
  }

  .filters-bar--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 1.75rem .75rem;
    border-radius: 0 0 .5rem .5rem;
    box-shadow: 0px 2px 12px #97A1B21A;
    border: 1px solid #dee2e6;
    border-top: 0;

    > div {
      flex: 1;
      padding: 0 .5rem;
    }
  }
}