@font-face {
font-family: 'Frutiger';
font-style: normal;
font-weight: normal;
src: local('Frutiger'), url('FrutigerLTArabic55Roman.woff') format('woff');
}


@font-face {
font-family: 'Frutiger';
font-style: normal;
font-weight: lighter;
src: local('Frutiger'), url('FrutigerLTArabic45Light.woff') format('woff');
}


@font-face {
font-family: 'Frutiger';
font-style: normal;
font-weight: bold;
src: local('Frutiger'), url('FrutigerLTArabic65Bold.woff') format('woff');
}


@font-face {
font-family: 'Frutiger';
font-style: normal;
font-weight: bolder;
src: local('Frutiger'), url('frutigerltarabic75black.woff') format('woff');
}

.arabic-font {
  font-family: 'Frutiger';
}